*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: sans-serif;
}
.button, .reset {
    height: 70px;
    margin:0 3px;
    border: 2px solid rgb(31, 17, 121);
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    font-size: 1.8rem;
    background: rgb(85, 1, 47);
    color: white;
    font-weight: bolder;
    transition: all 0.3s;
}

h1{
    text-align: center;
    grid-column: span 4;
    background: rgb(77, 164, 245);
    padding: 10px 0;
    color: white;
    font-size: 2.4rem;
    border-radius: 10px;
}

.button:hover{
    background: rgb(46, 0, 27);
}

.container {
    min-height: 90vh;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(4, 70px);
    gap: 0.7rem;
}

.input {
    grid-column: span 4;
    font-size: 2rem;
    height: 70px;
    padding: 0 8px;
    border: 2px solid black;
    border-radius: 10px;
}

.bg-red{
    background: rebeccapurple;
    border-color: rgb(128, 0, 128);
}

.bg-red:hover {
    background: rgb(128, 0, 128);
}

.history-container {
    grid-column: span 4;
    margin-top: 20px;
    border: 2px solid #1f1179;
    border-radius: 10px;
    background: rgb(240, 240, 255);
    padding: 10px;
    /* max-height: 150px; */
    /* overflow-y: auto; */
}

.history-container h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: rgb(31, 17, 121);
}

.history {
    font-size: 1.2rem;
    color: rgb(31, 17, 121);
}

.history-entry {
    margin-bottom: 5px;
}

.reset{
    grid-column: span 4;
    height: 70px;
    background: rebeccapurple;
}

.reset:hover{
    background: rgb(128, 0, 128);
}