* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    color: #444;
    font-family: sans-serif;
    text-decoration: none;
    border-radius: 10px;
}

body {
    background: rgb(0, 0, 61);
    min-height: 100vh;
}

header {
    background: #eee;
    padding: 1rem;
    max-width: 1300px;
    width: 94%;
    height: 100px;
    margin: auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

nav {
    display: flex;
    gap: 1rem;
    font-weight: 600;
}

a {
    transition: color 0.3s;
}

nav a:hover {
    color: darkblue;
}

.app-container {
    background: #eee;
    margin-top: 7rem;
    max-width: 440px;
    width: 94%;
    margin-left:3%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.app-container h1{
    text-align: center;
    text-transform: uppercase;
}

.app{
    display: flex;
    flex-direction: column;
    gap: inherit;
    width: 100%;
}

.date-input{
    padding: 1rem 0.7rem;
    font-size: 1.2rem;
    border: 2px solid;
    cursor: pointer;
}

.btn{
    padding: 1rem 0.7rem;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    background: darkblue;
    color: white;
}

#result{
    font-size: 1.2rem;
    color: black;
    text-align: center;
}

.error{
    background: #eee;
    width: fit-content;
    padding: 1rem;
    position: absolute;
    top: 130px;
    left: 49%;
    transform: translateX(-49%);
    opacity: 0;
    user-select: none;
    transition: 0.3s all;
}

.message{
    color: red;
}